.project-container {
  font-family: var(--primary-font-family);
  font-weight: 700;
}
.bread-crumb {
  display: flex;
  justify-content: flex-start;
  background-color: var(--primary-background-color);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1.15rem;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: var(--primary-font-color);
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: var(--secondary-font-color);
}
.project-content {
  width: 60vw;
  height: 65vh;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 0.01fr 0.66fr;
  position: relative;
}
.middle-section {
  position: relative;
  padding-right: 16px;
}
.center-border {
  transform: translateY(60%);
  height: 35%;
  border-right: 1px solid grey;
}

.full-width-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  display: none;
}
.full-width-img-div {
  width: 45%;
  height: 80%;
  margin: auto;
}

.project-info {
  font-size: 1.2rem;
  width: 75%;
  margin: 16px 0px 16px auto;
}
.project-info > div {
  display: grid;
  grid-template-columns: 0.66fr 1fr;
  padding: 12px 0px;
  margin: 0px 0px 16px 0px;
  text-align: right;
}
.project-info > div > h4 {
  text-align: left;
  font-family: var(--secondary-font-family);
  font-weight: 500;
}

.project-images {
  margin: 32px auto;
  height: 100px;
  display: flex;
  justify-content: right;
  position: relative;
}
.project-images > div {
  margin: 0px 3px;
  width: 75px;
}
.project-images > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.project-images > div > img:hover {
  opacity: 0.5;
}
.project-content > .image-div {
  opacity: 0;
  width: 100%;
  height: 60vh;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.show-img {
  display: block;
}

.download-project-plan {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 16px auto;
}
.download-project-plan > a,
.download-project-plan > p {
  padding-left: 3px;
  margin-left: 3px;
  text-decoration: none;
  color: var(--primary-font-color);
}
.download-project-plan > a > span {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 700;
}
.download-project-plan > a:hover {
  font-weight: bolder;
  color: var(--secondary-font-color);
}
/* Responsive CSS, while screen less than equal to 1368*/
@media (max-width: 1368px) {
  .project-content {
    height: auto;
    display: flex;
  }
  .middle-section {
    padding: 0px;
    width: 100%;
  }
  .project-info {
    margin: 0px auto;
  }
  .project-images {
    justify-content: center;
  }
  .download-project-plan {
    justify-content: center;
  }
}
/* Responsive CSS, while screen less than equal to 1024*/
@media (max-width: 1024px) {
  .project-content {
    width: 100vw;
  }
  .project-info {
    font-size: 2rem;
  }
  .project-images {
    height: 200px;
  }
  .project-images > div {
    width: 150px;
  }
  .download-project-plan {
    font-size: 1.5rem;
  }
}

/* Responsive CSS, while screen less than equal to 768*/
@media (max-width: 768px) {
  .project-content {
    width: 100vw;
  }
  .project-info {
    font-size: 1.6rem;
  }
  .project-images {
    height: 150px;
  }
  .project-images > div {
    width: 100px;
  }
  .download-project-plan {
    font-size: 1.35rem;
  }
}
/* Responsive CSS, while screen less than equal to 550*/
@media (max-width: 550px) {
  .project-info {
    font-size: 0.8rem;
  }
  .full-width-img-div {
    width: 65%;
  }
  .project-images {
    height: 75px;
  }
  .project-images > div {
    width: 50px;
  }
  .download-project-plan {
    font-size: 0.6rem;
  }
}
