.projects-container {
  margin: 0px auto 0px;
  font-family: var(--secondary-font-family);
}
.search-div {
  width: 75vw;
  margin: 12px auto;
}
.search-div > form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  color: var(--secondary-background-color);
  background-color: var(--primary-background-color);
  border-radius: 6px;
}
.search-div > form > label {
  margin: auto 2px auto 16px;
  font-size: 1.15rem;
}
.search-div > form > input,
.select > label {
  line-height: 1.5rem;
  border-radius: 0px;
  font-family: var(--navbar-font-family);
  font-size: 1.15rem;
}
.select > select {
  line-height: 1rem;
  border-radius: 0px;
  font-family: var(--navbar-font-family);
  font-size: 1.15rem;
  border: 2px solid black;
}

.select > select > option {
  background-color: var(--primary-background-color);
  font-size: 1.15rem;
}
.select > select > option :hover {
  background-color: var(--primary-background-color);
}
.form-submit {
  margin: auto 8px auto 16px;
  padding: 2px 16px;
  border-radius: 6px;
  font-size: 1.15rem;
}

.projects-list-container {
  margin: 24px auto;
}
.list-header {
  width: 75vw;
  margin: 12px auto;
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 1.15rem;
  color: var(--primary-font-color);
}
#all-projects {
  scroll-margin: 85px;
}
.project-list {
  list-style-type: none;
  min-height: 35vh;
}
.project-list-item {
  background-color: var(--primary-background-color);
}

.project-list-item > div {
  width: 75vw;
  margin: 0px auto 4px;
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.project-list-item > div > p {
  margin: auto;
}
.item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0px 64px 0px 0px;
}
.item-title {
  margin: auto 0px;
  color: var(--primary-font-color);
  text-decoration: none;
  text-align: left;
  font-size: 1.25rem;
}
.item-address {
  font-size: 1.15rem;
}

.item-status {
  color: var(--primary-font-color);
  font-size: 1rem;
  font-weight: 700;
}
.pagination {
  margin: 8px auto;
  padding: 8px 0px;
  background-color: #fff;
}
.pagination > button {
  margin: auto 4px;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: 1.5px solid var(--primary-font-color);
  border-radius: 6px;
}

.active-btn {
  color: var(--primary-background-color);
  background-color: var(--primary-font-color);
}

.not-active-btn {
  color: var(--primary-font-color);
}

button:disabled {
  border: 1.5px solid var(--secondary-font-color);
  color: grey;
}
/* Responsive CSS, while screen less than equal to 1368*/
@media (max-width: 1368px) {
  .search-div {
    width: 90vw;
    margin: 12px auto;
  }
  .search-div > form {
    padding: 8px;
  }
  .search-div > form > label,
  .select > label {
    margin: auto 2px auto 8px;
    font-size: 1rem;
  }
  .search-div > form > input {
    line-height: 1.35rem;
    font-size: 1rem;
  }
  .select > select {
    height: 2rem;
    line-height: 1.35rem;
    border-radius: 0px;
    font-family: var(--navbar-font-family);
    font-size: 1rem;
    border: 2px solid black;
  }
  .select > select > option {
    font-size: 0.9rem;
  }
  .form-submit {
    margin: auto 4px auto 8px;
    padding: 4px 10px;
    font-size: 1rem;
  }
  .list-header {
    width: 85vw;
  }
  .project-list-item > div {
    width: 85vw;
  }
}
/* Responsive CSS, while screen less than equal to 1024*/
@media (max-width: 1024px) {
  .search-div > form > label,
  .select > label {
    margin: auto 4px auto 8px;
    font-size: 0.8rem;
  }
  .search-div > form > input {
    line-height: 1.25rem;
    font-size: 0.8rem;
  }
  .select > select {
    line-height: 1.15rem;
    font-size: 0.9rem;
  }
  .select > select > option {
    font-size: 0.7rem;
  }
  .form-submit {
    padding: 3px 8px;
  }
  .list-header {
    grid-template-columns: 0.65fr 0.65fr 1fr 1fr;
  }
}

/* Responsive CSS, while screen less than equal to 768*/
@media (max-width: 768px) {
  .search-div {
    width: 50vw;
  }
  .search-div > form {
    display: grid;
  }
  .search-div > form > label,
  .select > label {
    margin: auto 2px 2px 8px;
    font-size: 1.25rem;
  }
  .search-div > form > input {
    line-height: 1.5rem;
    font-size: 1.15rem;
    margin: 0 0 2px 0;
  }
  .select > select {
    line-height: 1.35rem;
    margin: 0.5rem 0px;
    font-size: 1.15rem;
  }
  .select > select > option {
    font-size: 1rem;
  }
  .form-submit {
    margin: auto;
    padding: 4px 1rem;
    font-size: 1.15rem;
    font-weight: 600;
  }
  .list-header {
    width: 85vw;
  }
  .project-list-item > div {
    width: 85vw;
  }
}
/* Responsive CSS, while screen less than equal to 550*/
@media (max-width: 550px) {
  .search-div {
    width: 70vw;
  }
  .search-div > form > label,
  .select > label {
    font-size: 0.75rem;
  }
  .search-div > form > input {
    line-height: 1.35rem;
    font-size: 0.8rem;
  }
  .select > select {
    line-height: 0.5rem;
    margin: 0.5rem 0px;
    font-size: 0.7rem;
  }
  .select > select > option {
    font-size: 0.7rem;
  }
  .form-submit {
    margin: auto;
    padding: 4px 1rem;
    font-size: 0.7rem;
  }
  .list-header {
    font-size: 0.7rem;
    width: 95vw;
    grid-template-columns: 0.5fr 0.65fr 0.75fr 0.75fr;
  }
  .project-list-item > div {
    width: 95vw;
  }

  .project-list-item > div > p {
    margin: auto;
  }
  .item-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0px 32px 0px 0px;
  }
  .item-title {
    font-size: 0.75rem;
  }
  .item-address {
    font-size: 0.7rem;
  }

  .item-status {
    font-size: 0.55rem;
  }
  .pagination {
    margin: 4px auto;
    padding: 4px 0px;
    background-color: #fff;
  }
  .pagination > button {
    margin: auto 4px;
    padding: 4px 8px;
    font-size: 0.8rem;
  }
}
