#termsAndConditions {
  margin: 85px auto 0px;
  width: 100vw;
}
h1 {
  margin: 16px auto 8px;
}
.terms-list {
  text-align: left;
  list-style-type: none;
  overflow: hidden;
  margin: auto;
  width: 50vw;
}
.terms-list-item {
  margin: 16px auto;
}
.terms-list-item > p.numbers {
  padding-left: 16px;
  font-weight: bold;
  color: var(--navbar-font-color);
}
.terms-list-item > p.term-text {
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0px 16px 16px;
  line-height: 1.5;
}
