#termsAndConditions {
  margin: 85px auto 0px;
  width: 100vw;
  font-family: var(--primary-font-family);
}
h1 {
  margin: 16px auto 8px;
}
.terms-list {
  text-align: left;
  list-style-type: none;
  overflow: hidden;
  margin: auto;
}
.terms-list-item {
  margin: auto 0px;
}
.terms-list-item > p.numbers {
  padding: 8px 16px 0px;
  font-weight: bold;
  color: var(--navbar-font-color);
  font-family: var(--secondary-font-family);
}
.terms-list-item > p.term-text {
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0px 16px 16px;
  line-height: 1.5;
  font-family: var(--secondary-font-family);
}

.coloured {
  background-color: var(--primary-background-color);
}
